/* CSS Document */
body { 
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	background-image:url(../img/logo-ife.gif);
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}

.text-red{
	color: red;
	font-weight: bold;
}
.text-blue{
	color: blue;
	font-weight: bold;
}
.text-orange{
	color: orange;
	font-weight: bold;
}